@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,900&display=swap");

body {
    font-family: 'Roboto', sans-serif; 
    display: flex;
    flex-direction: column;
    margin: 0;
}

.superContainer {
    display: flex;
    flex-direction: column;
    margin: none;
}

/*Sets up the background padding for success later*/
.header,
.oneBody,
.twoBody,
.threeBody,
.footer {
    width: 950px;
    padding: 0px calc(50% - 475px);
}

/*Sets up margins for main content*/
.oneBody,
.twoBody,
.threeBody,
.fourBody {
    padding-top: 40px;
    padding-bottom: 100px;
}


a {
    text-decoration: none;
}

.header {
    background-color: #1f2937;
    justify-content: space-between;
    height: 60px;
    display: flex;
    align-items: center;
    
}

h1 {
    font-size: 22px;
    color: #F9FAF8;
    margin: 0px 20px;
}

.headerLinks {
    display: flex;
    justify-content: center;
    margin: 0px 20px;
}

ul {
    list-style: none;
    display: flex;
    gap: 12px;
}

li {
    padding: 0px;
}

a {
    text-decoration: none;
    color: #d9d7d7;
    font-size: 14px;
}

.leftOne h2 {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
    margin: 0px;
}

.leftOne p {
    font-size: 18px;
    color: #E5E7EB; 
}

.oneBody {
    background-color: #1f2937;
    display: flex;
    align-items: cente
}

.oneContainer {
    display: flex;
    padding: 0px 40px;
    gap: 12px;
}

.leftOne {
    flex-direction: column;
}

.oneBody button {
    color: #E5E7EB;
    background-color: #3882f6;
    display: block;
    padding: 8px 24px;
    border-radius: 10px;
    border-style: none;
    flex: none;
}

img {
    width: 450px;
}

.twoBody {
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

.twoBody img {
    width: 80px;
    padding: 10px;
    border: 2px #3882f6;
    border-style: solid;
    border-radius: 25px;
}

.twoBody h3 {
    font-size: 30px;
    margin: 40px;
    margin-top: 0px;
}

.threeBody{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.qs {
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.qs .quote {
    padding-top: 20px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 0px;
    color: #1f2937;
    font-size: 30px;
}

.qs .thorSignature {
    color:#1f2937;
    text-align: end;
    font-size: large;
    font-weight: 700;
    margin: 10px;
    flex: none;
    padding-left: 600px;
}

.fourBody {
    background-color: #F9FAF8;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center ;
    padding-top: 80px;
}

.callBox {
    padding: 0px;
    display: flex;
    background-color: #3882f6;
    justify-content: space-between;
    align-items: center;   
    padding: 26px 80px;
    border-radius: 12px;
    gap: 100px;
}

.leftCall {
    display: flex;
    flex-direction: column;

}

.fourBody h3 {
    color:#F9FAF8;
    margin: 2px;
    font-weight: 500;
}

.fourBody p {
    margin: 2px;
    font-weight: 400;
    font-size: 14px;
    color: #d9d7d7;
}

.callBox button {
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px #F9FAF8;
    border-style: solid;
    padding: 4px 30px;
    border-radius: 8px;
}

.footer {
    height: 80px;
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}